# Node
node_modules
npm-debug.log

# App
dist
config
!config/default.json
!config/custom-environment-variables.json

# Build
www/js/*.js
!www/js/vendor
www/*.css
www/*.html
www/**.html
www/***.html

# OSX
**/.DS_Store